.about_us {
    background-color: var(--light-title-color);
}
.xxx_brown {
    color: var(--divide-color);
}
.about_us_title {
    color: var(--dark-title-color);
}
.about_us__title_years {
    color: var(--dark-shade-color);
}
.about_us_title_story {
    color: var(--brand-color);
}
.about_us__title_words {
}
.about_us_title_owner {
    color: var(--text-john-color);
}
.about_us__history {
}
.about_us__history_data {
}
.about_us__history_years {
    color: var(--years-color);
}
.about_us__history_events {
}