.about_us {
    display: flex;
    background-color: var(--light-accent-color);
}
.about_us__img_glasses {
    max-width: 1170px;
    max-height: 486px;
}
.xxx_brown {
    color: var(--divide-color);
}
.about_us__title {
    flex-direction: column;
}
.about_us__title_foundation {
    color: var(--dark-title-color);
}
.about_us__title_years {
    color: var(--dark-shade-color);
}
.about_us_title_story {
    color: var(--brand-color);
}
.about_us__title_words {
}
.about_us_title_owner {
    color: var(--text-john-color);
}
.about_us__history {
}
.about_us__history_data {
}
.about_us__history_years {
    color: var(--years-color);
}
.about_us__history_events {
}