.about_us {
    padding: 35px 24px 90px;
    display: flex;
    flex-direction: column;
    background-color: var(--light-accent-color);
}
.about_us__img_glasses {
    max-width: 100%;
}
.xxx_brown {
    color: var(--divide-color);
}
.about_us__title {
}
.about_us__title_foundation {
    color: var(--dark-title-color);
}
.about_us__title_years {
    color: var(--dark-shade-color);
}
.about_us_title_story {
    color: var(--brand-color);
}
.about_us__title_words {
}
.about_us_title_owner {
    color: var(--text-john-color);
}
.about_us__history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_us__history_data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.about_us__history_years {
    font-size: 60px;
    color: var(--years-color);
}

/* @media (min-width: 768px) {
    .about_us__history {
        flex-direction: row;
    }
  } */