.about_us {
    padding: 35px 12px 90px 12px;
    display: flex;
    flex-direction: column;
    background-color: var(--light-accent-color);
}
.about_us__img_glasses img {
    max-width: 100%;
}
.xxx_brown {
    margin-top: 25px;
    color: var(--divide-color);
}
.about_us__title {
    margin: 0 15px ;
}
.about_us__title_foundation {
    padding-right: 10px;
    font-size: 34px;
    margin-top: 20px;
    color: var(--dark-title-color);
    font-family: var(--title-font-family);
}
.about_us__title_svg{
    margin-top: 25px;
}
.about_us__title_years {
    font-size: 20px;
    margin-top: 20px;
    color: var(--dark-shade-color);
    font-family: var(--text-font-family);
}
.about_us_title_start {
    font-size: 17px;
    margin-top: 25px;
    color: var(--brand-color);
    font-family: var(--text-font-family);
}
.about_us_title_development{
    font-size: 17px;
    margin-top: 50px;
    color: var(--brand-color);
    font-family: var(--text-font-family);
}
.about_us__title_words {
    font-size: 18px;
    margin-top: 20px;
    font-family: var(--title-font-family);
}
.about_us__title_signature {
    padding: 7.5px 0;
    display: flex;
    margin-top: 30px;
}
.about_us__title_png img {
    max-height: 70px;
    max-width: 70px;
     margin: 7.5px;
}
.about_us_title_owner {
    margin: 7.5px;
    padding-top: 20px;
    font-family: var(--title-font-family);
    font-size: 22px;
    color: var(--brand-color);
}
.about_us__history {
    margin: 0 -15px 0 -15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_us__history_data {
    padding: 0 15px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.about_us__history_years {
    font-size: 60px;
    color: var(--years-color);
    font-family: var(--title-font-family);
}
.about_us__history_events{
    text-align: center;
    box-sizing: inherit;
    font-size: 17px;
    margin-top: 35px;
    font-family: var(--text-font-family);
}

@media (min-width: 768px) {
    .about_us__history {
        flex-direction: row;
    }
  }