.about_us {
    padding: 35px 24px 90px 24px;
    display: flex;
    flex-direction: column;
    background-color: var(--light-accent-color);
}
.about_us__img_glasses {
    max-width: 100%;
}
.xxx_brown {
    margin-top: 25px;
    color: var(--divide-color);
}
.about_us__title {
    margin: 15px;
}
.about_us__title_foundation {
    font-size: 34px;
    margin-top: 20px;
    color: var(--dark-title-color);
}
.about_us__title_years {
    font-size: 20px;
    margin-top: 20px;
    color: var(--dark-shade-color);
}
.about_us_title_start {
    font-size: 18px;
    margin-top: 25px;
    color: var(--brand-color);
}
.about_us_title_development{
    font-size: 18px;
    margin-top: 50px;
    color: var(--brand-color);
}
.about_us__title_words {
    font-size: 18px;
    margin-top: 20px;
}
.about_us__title_signature {
    margin-top: 30px;
}
.about_us_title_owner {
    color: var(--text-john-color);
}
.about_us__history {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_us__history_data {
    margin-top: 50px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.about_us__history_years {
    font-size: 60px;
    color: var(--years-color);
}
.about_us__history_events{
    text-align: center;
    box-sizing: inherit;
    font-size: 17px;
    margin: 25px;
}

/* @media (min-width: 768px) {
    .about_us__history {
        flex-direction: row;
    }
  } */