.beer_blog{
    text-align: center;
    padding: 50px 0 90px 0;
    background-color:var( --light-accent-color);
    object-fit: contain;
    }
.beer_blog_section{
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
.beer_blog_icon{
    object-fit: contain;
    height: 32px;
    margin-top: 25px; 
    padding-left:2.5em;
}
.xxx_brown {
    font-family: var( --title-font-family);
    color:var( --divide-color);
    font-size: 14px;
    font-weight: 900;
}
.main_title{
    font-family: var(--title-font-family);
    color:var(--dark-shade-color);
    font-size: 34px;
    line-height: 37.4px;
    margin-top: 20px;
    font-weight: 700;
}
.beer_blog_text{
    font-family:var(--text-font-family);
    color:var(--text-primer-color);
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 32px;
   }
.beer_blog_no_blogs{
    display: flex;
    height: 450px;
    margin-top: 45px;
    justify-content: center;
    border: 1px solid rgba(33, 39, 54, 0.12);
    margin-left: 20px;
    margin-right: 20px;
}
.no_blog{
    display: flex;
    font-size: 24px;
    font-weight: 600;
    line-height: 32;
    align-items: center;
    font-family:var(--text-font-family);
}
.beer_blog_button{
    border-width: 2px;
    border-radius: 25px;
    margin:50px auto;
    background-color:var( --btn-primary-bg-color);
    width: 148px;
    height: 40px;
    padding: 13px 37px;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--text-font-family);
    line-height: 1;
    }
.button{
        color:var(--btn-text-color); 
    }
    @media (min-width: 768px) {
        .beer_blog_section {
            width: auto;
            height: auto;
        }
        .main_title {
            font-size: 39px;
        }
    }
    @media (min-width: 1025px) {
        .main_title {
            width: auto;
            height: auto;
        }
    }