.beer_blog{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:var( --light-accent-color);
    padding: 0px 15px 0px 15px;
    
}
.xxx_brown {
    font-family: var( --title-font-family);
    color:var( --divide-color);
    font-size: 14px;
}
@media (min-width: 320px) {
    .beer_blog {
        padding: 50px 0 90px 0;
    }
.beer_blog_spikelet {
    object-fit: contain;
    height: 32px;
    margin-top: 25px;
    }
.main_title{
    font-family: var(--title-font-family);
    color:var(--dark-shade-color);
    font-size: 34px;
    margin-top: 20px;
    font-weight: 700;
}
.beer_blog_learn_beer{
    font-family:var(--text-font-family);
    color:var(--text-primer-color);
    font-size: 20px;
    padding-top: 90px;
    padding-bottom: 90px;
    line-height: 1.6;
    font-weight: 400;
    margin-top: 20px;
   
}
.beer_blog_no_blogs{
    position: relative;
    display: flex;
    height: 450px;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 32;
    align-items: center;
    border: 1px solid rgba(33, 39, 54, 0.122);
}
.button{
    border-width: 2px;
    border-radius: 25px;
    margin-top: 20px;
    width: 148px;
    height: 40px;
    color:var(--btn-text-color);
    background-color:var( --btn-primary-bg-color);
    font-size: 14px;
    font-weight: 700;
    font-family: var(--text-font-family);
    line-height: 1;
    padding: 13px 37px;
    

}
}