.bestsellers {}

.bestsellers__carousel {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: linear-gradient(to top, #6a656300, #2c221d), url(../images/barrels-warehouse.webp);
    background-size: cover;
}

.bestseller__carousel-arrow {
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bestseller__carousel-arrow button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 0;
    border-radius: 50%;
    background-color: rgba(44, 153, 57, 0.8);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.bestseller__carousel-arrow-icon {
    width: 15px;
    height: 15px;
}

.bestseller__carousel-arrow button:nth-of-type(1) {
    margin-left: 12px;
}

.bestseller__carousel-arrow button:nth-of-type(2) {
    margin-right: 12px;
}

.bestseller__american-ale,
.bestseller__imperial-stout {
    color: var(--subtitle-name-color);
    font-family: var(--title-font-family);
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 1.632px;
}

.bestseller__indian-ale {
    color: var(--beer-name-color);
    font-family: var(--title-font-family);
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 1.632px;
}

.bestsellers__carousel-info,
.bestseller__carousel-contents {
    margin-top: 50px;
    padding-left: 24px;
    padding-right: 24px;
}

.bestsellers__carousel-info h4 {
    margin-top: 20px;
    font-size: 34px;
    font-weight: 700;
    font-family: var(--title-font-family);
    letter-spacing: 1.632px;
}

.bestsellers__carousel-info h4,
.bestsellers__carousel-taste,
.bestseller__carousel-contents-number {
    color: var(--menu-color);
}

.bestsellers__carousel-taste {
    margin-top: 20px;
    font-family: var(--title-font-family);
    font-size: 22px;
    font-weight: 700;
}

.bestsellers__carousel-text {
    margin-top: 25px;
    font-family: var(--text-font-family);
    color: var(--text-picture-color);
    font-size: 17px;
}

.bestseller__carousel-contents {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: var(--title-font-family);
}

.bestseller__carousel-contents-text {
    color: var(--light-accent-color);
    font-size: 14px;
    font-weight: 700;
}

.bestseller__carousel-contents-segment {
    margin-bottom: 16px;
}

.bestseller__carousel-contents-number {
    color: var(--menu-color);
    font-size: 22px;
    font-weight: 700;
}

.bestseller__carousel-contents-part {
    display: flex;
    flex-direction: column;

}

.bestseller__carousel-icon {
    font-size: 17px;
    margin-top: 25px;
    height: 32px;
    transform: translate(-19px);
}

.contents-number {
    margin-bottom: 5px;
}

.bestsellers__bottle img {
    width: 100%;
    max-width: 545px;
}

@media (min-width: 768px) {

    .bestsellers__carousel-info h4,
    .bestsellers__carousel-info h3 {
        font-size: 44px;
    }

    .bestsellers__carousel {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .bestsellers__carousel {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }

    .bestsellers__bottle {
        grid-column: 1;
        grid-row: 1;
    }

    .bestsellers__carousel-content {
        grid-column: 2;
        grid-row: 1;
    }

    .bestseller__carousel-contents-item,
    .bestseller__carousel-contents-segment {
        display: flex;
        flex-direction: row;
    }

    .bestseller__carousel-arrow button {
        width: 32px;
        height: 32px;
    }
}

.contents-ibu {
    margin-right: 97px;
}

.contents-extra {
    margin-right: 50px;
}