.bestsellers {
    padding: 0;
}

.bestsellers h3 {
    color: var(--subtitle-name-color);
}

.bestsellers__carousel {
    background-image: url(../images/barrels-warehouse.webp);
    background-size: cover;
}