@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --menu-color: #fff;
    --h1-color: rgb(248,184,3);
    --brand-color: #aa7c5a;
    --dark-title-color: rgb(38, 29, 23);
    --dark-shade-color: #261d17;
    --text-primer-color: rgb(97, 78, 68);
    --text-color: rgb(170, 124, 90);
    --years-color: rgb(44,133,54);
    --light-title-color: rgb(255, 255, 255);
    --light-accent-color: #f4eee1;
    --text-picture-color: rgb(210, 201, 186);
    --subtitle-name-color: rgb(248,184,3);
    --beer-name-color: rgb(174,205,76);
    --title-under-img-color: rgb(44,133,54);
    --text-under-photo: rgba(89,68,64,0.6);
    --form-border-color: rgba(170, 124, 90, 0.15);
    --form-background-color: rgba(52, 41, 36);
    --btn-primary-bg-color: #2c8536;
    --btn-hover-bg-color: #0c3b10;
    --btn-text-color: #fff;
    --divide-color: rgb(150,90,28);
    --contacts-background-color: rgb(44, 34, 29);
    --field-outline-color: #3b99fc;
    --hover-header-color: rgb(230, 183, 10);
    --light-background-modal: rgb(242, 244, 247, 0.5);
    --dark-background-modal: rgba(0, 0, 0, 0.85);
    --background-brewery-toolbar: rgba(0, 0, 0, 0.5);
    --background-modal-btn: rgba(0, 0, 0, 0.2);
    --overlay-bg-color: rgba(0, 0, 0, .5);
    --title-font-family: "Frank Ruhl Libre",serif;
    --text-font-family: 'Rubik', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
  }