.brewery__contacts {
    background-color: var(--contacts-background-color);
}

.contacts__title, .contacts__address_title, .contacts__hours_title, .contacts__communication_title {
   font-family: var(--title-font-family); 
}

.contacts__text, .contacts__address, .contacts__work_hours, .contacts__communication_info {
    font-family: var(--text-font-family);
}

.contacts__title, .contacts__text {
    color: var(--light-title-color);
}

.contacts__address_title, .contacts__hours_title, .contacts__communication_title {
    color: var(--text-color);
}

.contacts__address, .contacts__work_hours {
    color: var(--text-picture-color);
}

.contacts__communication_phone, .contacts__communication_email {
    color: var(--light-title-color);
}

.contacts__form {
    display: flex;
    flex-direction: column;
}

.contacts__form_field input, .form__message {
    font-family: var(--text-font-family);
    font-weight: 400;
}

.contacts__right, .contacts__form_field input, .contacts__form_field textarea {
    background-color: var(--form-background-color);
}

.contacts__form_field input, .form__message {
    border-color: var(--form-border-color);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}

.contacts__form_btn {
    background-color: var(--title-under-img-color);
    color: var(--light-title-color);
    border-radius: 10px;
}

.contacts__submit {
    font-family: var(--text-font-family);
    font-weight: 700;
}

@media (min-width: 320px) {
    .brewery__contacts {
        padding: 90px 24px 90px 24px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .contacts__left {
        padding: 0 15px 0 15px;
    }

    .contacts__text,.contacts__content {
        margin-top: 25px;
    }

    .contacts__address_title, .contacts__hours_title, .contacts__names {
        padding-bottom: 5px;
    }

    .contacts__address, .contacts__hours, .contacts__communication {
        padding-bottom: 16px;
    }

    .contacts__title {
        font-size: 34px;
        font-weight: 700;
    }

    .contacts__text {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
    }

    .contacts__address_title, .contacts__hours_title, .contacts__communication_title {
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
    }

    .contacts__address, .contacts__work_hours, .contacts__communication_info {
        font-size: 17px;
        font-weight: 400;
        line-height: 28.9px;
    }

    .contacts__map {
        margin-top: 30px;
    }

    iframe {
        width: 272px;
        height: 244px;
        object-fit: contain;
        padding-right: 15px;
    }

    .contacts__right {
        margin-top: 50px;
        padding: 0 15px 0 15px;
    }

    .contacts__form {
        width: 272px;
        height: 546px;
        line-height: 28.9px;
        padding: 13px 37px 13px 37px;
    }

    .contacts__form_field input, .contacts__form_field textarea {
        width: 162px;
        text-align: center;
    }

    .contacts__form_field input {
        height: 46px;
        margin: 12px 0 24px 0;
    }

    .contacts__form_field textarea {
        height: 150px;
        margin-top: 12px;
    }

    .contacts__form_btn {
        padding: 13px 37px 13px 37px;
        margin-top: 56px;
        width: 162px;
        height: 40px;
    }
}
