.brewery__contacts {
    background-color: var(--contacts-background-color);
    padding: 90px 24px 90px 24px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.contacts__left {
    padding: 0 15px 0 15px;
}

.contacts__title {
    font-size: 34px;
    font-weight: 700;
}

.contacts__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.contacts__title, .contacts__address_title, .contacts__hours_title, .contacts__communication_title {
   font-family: var(--title-font-family); 
}

.contacts__text, .contacts__address, .contacts__work_hours, .contacts__phone, .contacts__email {
    font-family: var(--text-font-family);
}

.contacts__title, .contacts__text {
    color: var(--light-title-color);
}

.contacts__text,.contacts__content {
    margin-top: 25px;
}

.contacts__address_title, .contacts__hours_title, .contacts__communication_title {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
}

.contacts__address_title, .contacts__hours_title, .contacts__names {
    padding-bottom: 5px;
}

.contacts__address, .contacts__work_hours {
    color: var(--text-picture-color);
}

.contacts__address, .contacts__hours, .contacts__communication {
    padding-bottom: 16px;
}

.contacts__address, .contacts__work_hours, .contacts__phone, .contacts__email {
    font-size: 17px;
    font-weight: 400;
    line-height: 28.9px;
}

.contacts__communication_phone, .contacts__communication_email {
    color: var(--light-title-color);
    text-decoration: none;
}

.contacts__phone p, .contacts__email p{
    margin-bottom: 0;
}

.contacts__communication_phone:hover {
    color: var(--hover-header-color);
}

.contacts__communication_email:hover{
    color: var(--hover-header-color);
}

.contacts__map {
    margin-top: 30px;
}

iframe {
    height: 244px;
    width: 100%;
    filter: grayscale(90%);
}

.contacts__right {
    margin-top: 50px;
    padding: 0 15px 0 15px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    height: 546px;
    line-height: 28.9px;
    padding: 13px 37px 13px 37px;
    text-align: center;
}

.contacts__form_field input, .form__message {
    font-family: var(--text-font-family);
    font-weight: 400;
}

.contacts__right, .contacts__form_field input, .contacts__form_field textarea {
    background-color: var(--form-background-color);
}

.contacts__form_field input, .contacts__form_field textarea {
    width: 162px;
    text-align: center;
}

.contacts__form_field input, .contacts__form_field textarea:focus {
    outline-color: var(--field-outline-color);
    color: var(--menu-color);
}

.contacts__form_field input, .form__message {
    border-color: var(--form-border-color);
    border-width: 2px;
    border-radius: 25px;
    border-style: solid;
}

.contacts__form_field input {
    height: 46px;
    margin: 12px 0 24px 0;
    width: 100%;
}

.contacts__form_field textarea {
    height: 150px;
    margin-top: 12px;
    width: 100%;
}

.form__name.invalid,
.form__phone.invalid,
.form__email.invalid {
  border: 6px double var(--validation-field-invalid);
}

.contacts__form_btn {
    background-color: var(--title-under-img-color);
    color: var(--light-title-color);
    border-radius: 25px;
    border-width: 0;
    margin-top: 56px;
    height: 40px;
}

.contacts__form_btn:hover {
    background-color: var(--btn-hover-bg-color);
    min-width: 70px;
}

.contacts__submit {
    font-family: var(--text-font-family);
    font-weight: 700;
}

@media (min-width: 480px) {
    .contacts__address, .contacts__hours, .contacts__communication {
        padding-bottom: 5px;
    }

    .contacts__address_title, .contacts__hours_title, .contacts__communication_title {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .brewery__contacts {
        flex-direction: row;
        width: auto;
    }

    .contacts__left {
        width: 100%;
    }

    .contacts__names, .contacts__address, .contacts__hours, .contacts__communication, .contacts__phone, .contacts__email {
        display: flex;
        width: 100%;
    }

    .contacts__address, .contacts__work_hours, .contacts__communication_phone, .contacts__communication_email{
        width: 100%;
    }

    .contacts__right {
        margin-top: 0;
        width: 100%;
    }
}

