.modal__contacts {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--light-backround-modal);
}

.contacts__modal_form {
    background-color: var(--dark-shade-color);
    position: relative;
    margin: 40% auto;
    border: none;
    max-width: 344px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-family: var(--title-font-family);
}

.modal__message {
    padding: 43px 32px 65px 32px;
}

.modal__close_btn {
    color: var(--menu-color);
    margin-left: 295px;
    font-size: 25px;
    font-weight: bold;
    background: none;
    border: none;
    width: 8px;
    height: 8px;
    opacity: 0.6;
}

.modal__icon {
    width: 34px;
    height: 34px;
    fill: var(--text-color);
    padding-left: 75px;
    margin-bottom: 33px;
}

.modal__content_title,
.modal__content_message {
    color: var(--text-picture-color);
}

.modal__content_title {
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
}

.modal__content_message {
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 42px;
}

.modal__btn {
    color: var(--light-title-color);
    border: none;
    background-color: var(--text-color);
    font-size: 12px;
    border-radius: 20px;
    width: 100%;
    height: 36px;
}

@media (min-width: 480px) {
    .contacts__modal_form {
        margin: 30% auto;
    }
}

@media (min-width: 580px) {
    .contacts__modal_form {
        margin: 25% auto;
    }
}

@media (min-width: 768px) {
    .contacts__modal_form {
        margin: 20% auto;
    }
}

@media (min-width: 990px) {
    .contacts__modal_form {
        margin: 15% auto;
    }
}