.discover {
    background-color: var(--contacts-background-color);
    text-align: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    padding: 90px 24px;
    max-width: 100%; 
}

.xxx_yellow {
    font-family: var(--title-font-family);
    color: var(--subtitle-name-color);
    font-size: 14px;
    font-weight: 900;
    }

.discover__title {
    font-family: var(--title-font-family);
    color: var(--light-title-color);
    font-size: 34px;
    font-weight: 700;
    margin-top: 20px;
}

.discover__info {
    font-family: var(--text-font-family);
    color: var(--light-accent-color);
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 32px;
}

.discover__carousel-name {
    font-family: var(--title-font-family);
    font-weight: bold;
    color: var(--light-title-color);
    text-transform: uppercase;
}

.discover__carousel-info {
    font-family: var(--text-font-family);
    color: var(--text-picture-color);
}

.discover__icon {
    width: 100px;
}

.discover__img {
    width: 100%;
}