.discover {
    position: relative;
    background-color: var(--contacts-background-color);
    width: 100%;
}

.discover-arrow {
    padding: 50px 24px;
    text-align: center;
    padding-bottom: 80px;
}

.xxx_yellow {
    color: var(--subtitle-name-color);
    font-family: var(--text-font-family);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
}

.discover__title {
    color: var(--light-title-color);
    font-family: var(--title-font-family);
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 20px;
}

.discover__icon {
    width: 100px;
    margin-top: 20px;
}

.discover__info {
    color: var(--light-accent-color);
    font-family: var(--text-font-family);
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 32px;
}

.discover__carousel {
    position: relative;
}

.discover__carousel-info {
    margin-bottom: 20px;
}

.discover__carousel-container {
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.discover__carousel-image-container {
    margin: auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.discover__carousel-image-container img {
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity 0.5s, transform 0.5s;
}

.discover__carousel-info {
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    top: 10px;
    left: 10px;
    right: 10px;
    opacity: 0;
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover__carousel-name {
    font-family: var(--title-font-family);
    color: var(--light-title-color);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.discover__carousel-description {
    font-family: var(--text-font-family);
    color: var(--text-picture-color);
    line-height: 28px;
    margin-bottom: 20px;
    font-size: 18px;
}

.discover__learn-more {
    font-family: var(--text-font-family);
    background-color: var(--btn-primary-bg-color);
    padding: 10px 30px;
    color: var(--light-title-color);
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    transition: background-color 0.5s ease;
}

.discover__learn-more:hover {
    background-color: var(--non-active-learn-more-button);
    color: var(--light-title-color);
}

.discover__carousel-image-container:hover img {
    transform: scale(1.1);
    opacity: 0.1;
}

.discover__carousel-image-container:hover .discover__carousel-info {
    opacity: 1;
}

@media (min-width: 767px) {
    .discover__carousel-name {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 50px;    
    }

    .discover__learn-more {
        margin-top: 30px;
    }
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.discover__carousel .slick-dots li button {
    opacity: 1;
}

.slick-dots li button:before{
    color:  var(--non-active-button);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: var(--non-active-button);
    display: flex;
    align-items: center;
}

.slick-dots li.slick-active button:before{
    color: var(--active-button);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: var(--active-button);
    display: flex;
    align-items: center;
}