.footer {
    background-color: var(--dark-title-color);
}

.footer__content, .footer__nav {
    display: flex;
    flex-direction: column;
}

.footer__content {
    margin: auto;
    padding: 40px 24px 20px 24px;
    text-align: center;
}

.before__line {
    padding-top: 40px;
}

.logo__brewery {
    width: 103px;
    height: 63.275px;
}

.footer__nav {
    font-family: var(--text-font-family);
    font-size: 17px;
    font-weight: 900;
}

.footer__menu {
    margin-top: 30px;
}

.footer__nav_menu {
    color: var(--light-title-color);
    margin: 10px 5px;
    text-decoration: none;
}

.footer__nav_menu:hover {
    color: var(--hover-header-color);
}

.footer__line {
    color: var(--light-title-color);
}

.footer__underline, .before__line {
    padding: 0 24px 0 24px;
}

.footer__underline_content, .footer__underline_block {
    color: var(--text-picture-color);
    font-family: var(--title-font-family);
    font-size: 14px;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 1.4px;
}

@media (min-width: 768px) {
    .logo__brewery {
        width: 100%;
        height: 51.6px;
        margin-top: 25px;
    }

    .before__line, .footer__underline {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .footer__nav {
        flex-direction: row;
        font-size: 15px;
    }
}

@media (min-width: 1024px) {
    .logo__brewery {
        width: 103px;
        height: 63px;
        margin-top: 25px;
    }
}
