.header {
    font-family: var(--text-font-family);
    position: relative;
    background: url("../images/header_background.png") 50% 50% / cover no-repeat fixed, rgb(38, 29, 23);
}

.header__nav {
    margin: 0 auto;
    padding: 0 24px;
}

.header__contacts-wrapper {
    background-color: var(--dark-title-color);
    color: var(--menu-color);
    font-size: 17px;
    width: 100%;
    height: 62px;
    padding: 15px 40px;
    display: flex;
}

.header__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__address{
    margin: 0;
}

.header__phone{
    color: var(--menu-color);
    text-decoration: none;
}

.header__nav_container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}

.header__logo {
    display: block;
    max-width: 100%;
    flex: 0 0 auto;
    margin: 0 auto;
}

.header__menu {
    max-width: calc(100% - 20px);
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.header__menu > a {
    color: var(--menu-color);
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
    margin-left: 10px;
}

.header__social_icons_item > img {
    width: 30px;
    height: 30px;
    margin: 0 7px;
}

.header__burger_button {
    width: 40px;
    height: 40px;
    padding: 12px 8px;
    background-color: transparent;
    border: 0;
    opacity: 1;
    transition: opasity .2s ease-in-out;
    cursor: pointer;
    color: var(--menu-color);
    z-index: 1;
    margin: auto 0;
}

.header__burger_inner {
    position: relative;
    display: block;
    width: 24px;
    height: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

.header__burger_line {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transform: translateY(0) rotate(0);
    opacity: 1;
    background-color: currentColor;
    transform-origin: 50% 50%;
    transition: transform .2s ease-in,opacity .2s ease-in-out,-webkit-transform .2s ease-in;
}

.header__burger_line:first-child {
    top: 0;
}

.header__burger_line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.header__burger_line:nth-child(3) {
    bottom: 0;
}

.header__social_icons > a {
    text-decoration: none;
}

.header__section {
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.header__section_main {
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.header__banner {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.header__banner_title {
    color: var(--h1-color);
    font-size: 14px;
    font-style: normal;
    font-family: var(--title-font-family);
    font-weight: 900;
    letter-spacing: 1.4px;
}

.header__banner_slogan {
    margin-top: 20px;
    color: var(--menu-color);
    font-size: 58px;
    font-style: normal;
    font-weight: bold;
    font-family: var(--title-font-family);
}

.header__spikelet {
    margin-top: 35px;
    display: block;
    position: relative;
    height: 32px;
}

.header__spikelet > img {
    height: 32px;
    width: auto;
    margin-left: -20px;
}

.header__banner_text {
    margin-top: 20px;
    color: var(--brand-color);
    font-size: 17px;
    font-family: var(--text-font-family);
    line-height: 28.9px;
}

.header__banner_btns {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.header__btn {
    margin: 10px;
    min-width: 85px;
    background-color: var(--btn-primary-bg-color);
    padding: 17px 50px;
    border-radius: 30px;
}

.header__btn:hover, .header__btn_hover {
    background-color: var(--btn-hover-bg-color);
    min-width: 70px;
}

.header__btn_item {
    cursor: pointer;
    text-decoration: none;
    color: var(--btn-text-color);
    font-size: 15.4px;
    font-weight: bold;
    line-height: 15.4px;
}

.header__banner_image {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.header__banner_image > img {
    width: 100%;
}

.header__bottom_element {
    height: 85px;
    background: url('../images/end_of_block.svg') 50% 50% / cover no-repeat, rgb(244, 238, 225);
}



@media (min-width: 768px) {
    .header__section_main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .header__banner {
        max-width: 41.6%;
        flex-basis: 41.6%;
        padding: 0 15px;
    }
    
    .header__banner_slogan {
        font-size: 71px;
        line-height: 1.1;
    }
    
    .header__banner_image {
        max-width: 58.4%;
        flex-basis: 58.4%;
        padding: 0 15px;
        margin-top: 0;
    }
}

@media (max-width:991px) {
    .header__contacts-wrapper, .header__menu, .header__social_icons {
        display: none;
    }
}

@media (min-width:992px){
    .header__burger_inner {
        display: none;
    }
}

@media (min-width:1024px){
    .header__burger_button {
        display: none;
    }
}