.wrapper_photo_carousel {
    margin-bottom: 0px;
}


.leisure_photoes_common {
    width: 20%;
    height: 400px;
}


#video_block {

    background-image: url(../images/back_behind_video.png);
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    /* display: block; */

}


.video_block_divider_text {
    font-size: 16px;
    text-align: center;
    padding-top: 140px;
    color: --divide-color;
}

#id_above_video_tour_text {
    margin: 0;
    padding-top: 0;
    margin-bottom: 0px;
    font-family: --title-font-family;
    font-size: 34px;
    text-align: center;
    color: --dark-title-color;
}

.video_block_wheat_ear {
    margin: 0;
    padding-top: 0px;
}

.video_block_divider_ear {
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#id_video_block_paragr_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: brown;
    padding-top: 10px;
    text-align: center;
}

.video_block_backgroud_pict {

    /*
    background-image: url(../images/beer_depart.webp); 
    background-repeat: no-repeat; 
    height: 750px;
    width: 100%;
    object-fit: cover;
    background-size: cover; 
    object-position: bottom;
    */


    background-image: url(../images/beer_depart.webp);
    width: 100%;
    height: 750px;
    max-height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    display: block;

}

#id_video_block_arrow_pict {
    height: 70px;
    /*padding-left: 48%; */
    /*position: relative; */
    position: absolute;
    /*top: 50%; */
    background-position: 50% 50%;
    /*transform: translateY(-50%);*/
}