.slick-prev {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
}

.slick-next {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
}


.main_wrapper {
    max-width: 1200px;
}

.wrapper_photo_carousel {
    display: flex;
    height: 250px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}


.image_div{
    width: 20%;
    height: auto;
}


.leisure_photoes_common {
<<<<<<< HEAD
    /* width: 20%; */
    /* height: 400px; */
    display: grid;
    width: 300px;
    /* float: left;
    margin: 0;

    padding: 0; */
    position: relative;
    
=======

    height: 100%;
    width: 100%;
    object-fit: fill;

>>>>>>> c649077 (Staged 2)
}


.video_block {

    background-image: url(../images/back_behind_video.png);
    height: 1080px;
    width: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    

}


.video_block_divider_text {
    font-size: 16px;
    text-align: center;
    padding-top: 110px;
    color: var(--divide-color);
    margin: unset;
}

#id_above_video_tour_text {
    font-family: var(--title-font-family);
    font-size: 34px;
    text-align: center;
    color: var(--dark-title-color);

}

.video_block_wheat_ear {
    margin: 0;
    padding-left: 40px;
    box-sizing: border-box;
}

.video_block_divider_ear {
    height: 32px;
    width: auto;
    left: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#id_video_block_paragr_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: brown;
    padding-top: 10px;
    text-align: center;
}

.video_block_backgroud_pict {

    background-image: url(../images/beer_depart.webp);
    width: auto;
    
    height: 750px;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    margin-left: 10%;
    margin-right: 10%;
    


}

#id_video_block_arrow_pict {
    box-sizing: border-box;
    height: 10%;
    width: auto;
    position: relative;
    margin-top:32%;
    margin-left:45%;

}