.slick-prev {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
}

.slick-next {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
}


.main_wrapper {
    max-width: 1200px;
}

.wrapper_photo_carousel {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}




.leisure_photoes_common {
    /* width: 20%; */
    height: 400px;
    display: grid;
    width: 300px;
    float: left;
    margin: 0;

    padding: 0;
    position: relative;
}


.video_block {

    background-image: url(../images/back_behind_video.png);
    height: 1200px;
    width: auto;
    max-width: 1200px;
    background-repeat: no-repeat;
    padding: 0;

}


.video_block_divider_text {
    font-size: 16px;
    text-align: center;
    padding-top: 110px;
    color: var(--divide-color);
    margin: unset;
}

#id_above_video_tour_text {
    font-family: var(--title-font-family);
    font-size: 34px;
    text-align: center;
    color: var(--dark-title-color);

}

.video_block_wheat_ear {
    margin: 0;
    padding-top: 0px;
}

.video_block_divider_ear {
    height: 32px;
    margin-left: 47%;
    display: block;
}

#id_video_block_paragr_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: brown;
    padding-top: 10px;
    text-align: center;
}

.video_block_backgroud_pict {

    background-image: url(../images/beer_depart.webp);
    width: auto;
    height: 750px;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    margin-left: 10%;
    margin-right: 10%;
    


}

#id_video_block_arrow_pict {
    height: 70px;
    position: absolute;
    background-position: 50% 50%;
}