.slick-prev {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
}

.slick-next {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
}

.main_wrapper {
    max-width: 1200px;
}

.wrapper_photo_carousel {
    height: 300px;
    max-width: 100%;
    width: 100%;

}

.image_div {
    width: 20%;
    height: auto;
}

.slick-slide {
    width: 20%;
}

.leisure_photoes_common {
    object-fit: cover;
    height: 300px;
    width: 100%;
    min-width: 100%;
    min-height: 100%
}

.video_block {
    background-image: url(../images/back_behind_video.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.video_block_divider_text {
    font-size: 16px;
    text-align: center;
    padding-top: 110px;
    color: var(--divide-color);
    margin: unset;
}

#id_above_video_tour_text {
    font-family: var(--title-font-family);
    font-size: 34px;
    text-align: center;
    color: var(--dark-title-color);
}

.video_block_wheat_ear {
    margin: 0;
    padding-left: 40px;
    box-sizing: border-box;
}

.video_block_divider_ear_div {
    padding-left: 36px;
}

.video_block_divider_ear {
    height: 32px;
    width: auto;
    /* left: 150px; */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#id_video_block_paragr_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: brown;
    padding-top: 10px;
    text-align: center;
}


.video_block_backgroud_pict {
    height: auto;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;

}

.beer_depart_pict_properts {

    height: 100%;
    width: 100%;
}

#id_video_block_arrow_pict {
    height: 100%;
    width: 100%;
}

.id_video_block_arrow_pict {
    height: 100%;
    width: 100%;
    margin-bottom: 50%;

}

#id_beer_depart_pict {
    height: 100%;
    width: 100%;
}

.id_arrow_pict_div {
    height: 50px;
    width: 50%;
    position: absolute;
    margin: -33% 13%;
}

@media screen and (max-width: 1000px) {
    .wrapper_photo_carousel {
        height: 450px;
    }

    .leisure_photoes_common {
        height: 450px;
    }
}