.our__events-section { 
    background-color: var(--dark-title-color);
    padding: 0 24px;
}
.brown_page-up { 
    box-sizing: border-box;
}
.our__events_content{
    text-align: center;
}
.our__events {
    color: var(--light-title-color);
}
.sibtittle__our-events {
    color: var(--light-accent-color);
}