.brewery__slider_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--dark-background-modal);
}

.brewery__modal_form {
    position: relative;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.brewery__form_toolbar {
    width: 100%;
    height: 100%;
}

.brewery__toolbar {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--background-brewery-toolbar);
}

.brewery__toolbar_items {
    list-style-type: none;
}

.items__zoom_in {
    background-image: url(../images/brewery-modal-zoom-in.svg);
}

.items__zoom_out {
    background-image: url(../images/brewery-modal-zoom-out.svg);
}

.items__close {
    font-size: 25px;
}

.items__zoom_in, .items__zoom_out {
    background-repeat: no-repeat;
    text-align: center;
}

.items__zoom_in, .items__zoom_out, .items__close {
    color: var(--menu-color);
    background: none;
    border: none;
    width: 40px;
    height: 35px;
    opacity: 0.7;
    vertical-align: middle;
}

.brewery__btn_prev {
    left: 0;
}

.brewery__btn_next {
    right: 0;
}

.brewery__btn_prev, .brewery__btn_next {
    background-color: var(--background-modal-btn);
    color: var(--light-title-color);
    font-size: 35px;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 34px;
    padding: 40px 30px;
    margin: auto;
    opacity: 0.7;
}