.our__brewery {
    background-color: var(--dark-shade-color);
    text-align: center;
    padding: 50px 0 90px 0;
    object-fit: contain;
}

.our__brewery_section {
    display: flex;
    flex-direction: column;
    padding: 0px 15px 0px 15px;
}

.xxx_yellow {
    font-family: var(--title-font-family);
    color: var(--subtitle-name-color);
    font-size: 14px;
    font-weight: 900;
}

.our__brewery_title {
    font-family: var(--title-font-family);
    color: var(--light-title-color);
    font-size: 34px;
    font-weight: 700;
    margin-top: 20px;
}

.our__brewery_icon {
    object-fit: contain;
    height: 32px;
    margin-top: 25px;
}

.our__brewery_text {
    font-family: var(--text-font-family);
    color: var(--light-accent-color);
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 32px;
}

.our__brewery_slider {
    margin-top: 45px;
}

.brewery_slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.brewery__slider_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.brewery__slider_btn_prev, .brewery__slider_btn_next {
    width: 24px;
    height: 24px;
    background-color: var(--light-title-color);
    color: var(--dark-title-color);
    opacity: 0.85;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    border: none;
}

.brewery__slider_btn_prev {
    left: 0;
}

.brewery__slider_btn_next {
    right: 0;
}

.brewery__slider {
    height: 167px;
    object-fit: cover;
}

.brewery__slider-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
}

.brewery__nav_item {
    padding: 7.5px 3.75px 0;
    overflow: hidden;
    background-size: cover;
}

.brewery__nav_item img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.brewery__nav_item.active img,
.brewery__nav_item img:hover {
    opacity: 1;
}

.brewery__section_bottom {
    height: 85px;
    background: url('../images/end_of_accordion_block.svg') 50% 50% / cover no-repeat, rgb(244, 238, 225);
}

@media (min-width: 480px) {
    .brewery__slider {
        width: 434px;
        height: 266.775px;
    }

    .brewery__nav_item img {
        width: 75%;
    }
}

@media (min-width: 768px) {
    .xxx_yellow, .our__brewery_text {
        width: auto;
        height: auto;
    }

    .our__brewery_title {
        font-size: 39px;
    }

    .brewery__slider {
        width: 706px;
        height: 434px;
    }
}

@media (min-width: 1025px) {
    .our__brewery_title {
        width: auto;
        height: auto;
    }

    .brewery__slider {
        width: 947px;
        height: 582px;
    }
}