 .container{
  width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

 }
 
 img {
  display: block;
 }
  .schedule{
      padding-top: 200px;
      padding-bottom: 200px;
      background-color: #261d17;
      background-image: url("/images/parallax.png");
      background-size: cover;
      background-repeat: no-repeat;

      position: relative;
     
  }
  
  /* .background__wrapper{
    position: fixed;
    width: 100;
   
   
    
  } */
  
  .schedule__letters{
    font-family: 'Frank Ruhl Libre', serif;
 
    font-size: 14px;
    font-weight: 900;
    /* line-height: 1.42;
    letter-spacing: 1.4; */
    color:  rgb(248 184 5);
  
  }
  
  .schedule__title{
      color: #fff;
      font-family: 'Frank Ruhl Libre', serif;
      font-size: 85px;
      font-weight: 700;
      font-style: normal;
      line-height: 1.1;
      margin-top: 20px;
  }

  .schedule__icon{
    margin-top: 40px;
    display: inline;
    margin-left: -12px;
  }
  
  .schedule__text{
      color: #fff;
      font-family: 'Rubik', sans-serif;
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      line-height: 1.6;
      margin-top: 20px;
      
  }

  .section__buttons{
    margin-top: 35px;
    display: flex;
  }
  
  .section__button{
      text-decoration: none;
      color: #fff;
      font-family: 'Rubik', sans-serif;
      font-size: 15px;
      font-weight: 700;
      font-style: normal;
      line-height: 1;

  
      border-radius: 30px;
      background-color: #2c8536;
      padding: 17px 50px;
      margin-right: 15px;
     

      cursor: pointer;
  }
  .accent__button{
    background-color: #0c3b10;
  }

  .section__button:hover, 
  .section__button:focus{
    background-color: #0c3b10;
    color: #fff;
  }

  .section__button.accent__button:hover,
  .section__button.accent__button:focus{
    background-color: #2c8536;
    color: #fff;
  }