.grid__container {
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (min-width: 768px) {
  .grid__container {
      display: grid;
      grid-template-columns: 2em repeat(2, minmax(0, 40rem)) 2em;
  }

  .grid__container>*:first-child {
      grid-column: 2;
  }

  .grid__container>*:last-child {
      grid-column: 3;
  }
}

.schedule {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-shade-color);
  background-image: url("../images/parallax.png");
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.schedule__letters {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 14px;
  font-weight: 900;
  color: var(--subtitle-name-color);
}

.schedule__title {
  color: var(--menu-color);
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 58px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 0;
}

@media screen and (min-width: 767px) {
  .schedule__title {
      font-size: 71px;
  }
}

@media screen and (min-width: 991px) {
  .schedule__title {
      font-size: 85px;
  }
}

.schedule__title {

  animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

.xxx_yellow {
  font-family: var(--title-font-family);
  color: var(--subtitle-name-color);
  font-size: 14px;
  font-weight: 900;
}

.schedule__icon {
  margin-top: 40px;
  display: inline-block;
  width: 109px;
  margin-left: -12px;
  object-fit: cover;
}

.schedule__text {
  color: var(--menu-color);
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 0;

}

.section__buttons {
  margin-top: 35px;
  display: flex;
  flex-direction: column;

}

@media screen and (min-width: 484px) {
  .section__buttons {
      display: block;
  }

}

.section__button {
  text-decoration: none;
  color: var(--menu-color);
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  width: 180px;
  border-radius: 30px;
  background-color: var(--btn-primary-bg-color);
  padding: 17px 50px;
  margin-right: 15px;
  cursor: pointer;
  display: inline-block;
}

.section__button:not(:last-child) {
  margin-bottom: 20px;

}

@media screen and (min-width: 970px) {
  .section__button {
      margin: 10px;
  }
}

.accent__button {
  background-color: var(--btn-hover-bg-color);
}

.section__button:hover,
.section__button:focus {
  background-color: var(--btn-hover-bg-color);
  color: var(--menu-color);

}

.section__button.accent__button:hover,
.section__button.accent__button:focus {
  background-color: var(--btn-primary-bg-color);
  color: var(--menu-color);
}