
 .schedule {
  display: flex;
   padding-top: 200px;
   padding-bottom: 200px;
   background-color: var(--dark-shade-color);
   background-image: url("../images/parallax.png");
   background-size: cover;
   background-repeat: no-repeat;

   /* position: relative; */

 }

 /* .background__wrapper{
    position: absolute;
    -webkit-mask: url('images/parallax.png');
    mask: url('images/parallax.png');
   
  } */

 .schedule__letters {
   font-family: 'Frank Ruhl Libre', serif;
   font-size: 14px;
   font-weight: 900;
   color: var(--subtitle-name-color);

 }

 .schedule__title {
   color: var(--menu-color);
   font-family: 'Frank Ruhl Libre', serif;
   font-size: 58px;
   font-weight: 700;
   font-style: normal;
   line-height: 1.1;
   margin-top: 20px;
   /* position: fixed; */
  
 }

 .schedule__icon {
   margin-top: 40px;
   display: inline;
   margin-left: -12px;
 }

 .schedule__text {
   color: var(--menu-color);
   font-family: 'Rubik', sans-serif;
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   line-height: 1.6;
   margin-top: 20px;

 }

 .section__buttons {
   margin-top: 35px;
   display: flex;
 }

 .section__button {
   text-decoration: none;
   color: var(--menu-color);
   font-family: 'Rubik', sans-serif;
   font-size: 15px;
   font-weight: 700;
   font-style: normal;
   line-height: 1;


   border-radius: 30px;
   background-color: var(--btn-primary-bg-color);
   padding: 17px 50px;
   margin-right: 15px;

   cursor: pointer;
 }

 .accent__button {
   background-color: var(--btn-hover-bg-color);
 }

 .section__button:hover,
 .section__button:focus {
   background-color:var(--btn-hover-bg-color);
   color: var(--menu-color);
   
 }

 .section__button.accent__button:hover,
 .section__button.accent__button:focus {
   background-color: var(--btn-primary-bg-color);
   color: var(--menu-color);
 }