.testimonials {
    background-color: var(--light-accent-color);
    display: flex;
    text-align: center;
    justify-content: center;
}
.testimonials__block{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
.testimonials__text {
    display: flex;
    flex-direction: column;
    padding: 50px 24px 0 24px;
}
.xxx__testimonials {
    display: flex;
    justify-content: center;
    color: var(--divide-color);
}
.testimonials__title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: var(--title-font-family);
    font-size: 30px;
    font-weight: 700;
    line-height: 42.9px;
    letter-spacing: 2.5px;
}
.testimonials__icon {
    height: 40px;
    width: 130px;
    margin-left: 52px;
}
.testimonials__img{
    display: flex;
    justify-content: center;
}
.testimonials__visitors{
    color: var(--title-under-img-color);
    font-size: 22px;
    font-weight: 700;
    font-family: var(--title-font-family);
    display: flex;
    justify-content: center;
}
.description__img {
    display: flex;
    justify-content: center;
}
.testimonials__photo__carousel {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 27.895% 50%;
}
.testimonials__visitors_feedback {
    font-size: 17px;
    font-family: var(--text-font-family);
    color: var(--text-under-photo);
}
.testimonials__visitors_date {
    font-size: 13px;
    letter-spacing: 2.5px;
    margin-top: 20px;
    font-weight: 900;
    font-family: var(--title-font-family);
    color: var(--text-primer-color);
}
.date__of__carousel {
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) {
    .testimonials__photo__carousel {
        width: 170px;
        height: 170px;
    }
}