<<<<<<< HEAD
.testimonials{
    margin: 0;
    padding: 0%;
    border: 0;
    font: inherit;
    vertical-align: baseline;
=======
.testimonials__photo__carousel {
    width: 100%;
>>>>>>> 73789b1fcb9e5c2256c4bd789d871338c6e77641
}